/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

/* Colors  and Backgrounds*/
.bg-primary {
  background-color: goldenrod !important;
}

/* Header */

.navbar-nav li.nav-item a, .dropdown a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.navbar-nav li.nav-item.active {
  font-weight: 400;
}

/* Buttons And Links */
a.read-more {
  color: #fff;
  padding: 10px 20px;
  background-color: goldenrod;
  transition: all .4s ease-in-out;
  border-radius: 4px;
  display: inline-block;
}

.action {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  background-color: goldenrod;
  border: none;
  transition: all .4s ease-in-out;
  flex: 1;
}

.btn-primary:hover {
  background-color: goldenrod;
  transform: scale(1.05);
}

a.read-more:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.link-in {
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.link-in a {
  color: goldenrod;
}

/* Typograph */
p {
  line-height: 1.7;
  font-size: 15px;
}

h1,h2,h3 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
h2 {
  font-size: 25px;
  font-weight: 500;
}

/* Grid */
.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.col span {
  margin-top: 20px;
}

.col span i {
  color: goldenrod;
  font-size: 20px;
  margin-right: 10px;
}

/* Utils */
.p-30 {
  padding-top: 30px !important;
}

.box-center {
  padding: 60px;
}

/* Home Page */
#quem-somos-home {
  padding: 120px;
  background-color: #333;
  color: #fff;
}

#quem-somos-home h1 {
  margin-bottom: 35px;
}

#areas-home {
  padding: 120px;
}

.box-specs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box-specs .box-spec {
  background-color: goldenrod;
  color: #fff;
  padding: 30px;
  margin: 2px;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all .4s ease-in-out;
}

.box-specs .box-spec:hover {
  transform: scaleX(1.1) scaleY(1.3);
  background-color: #333;
  color: #fff;
}


#team-home {
  background-color: goldenrod;
  color: #fff;
  padding: 80px;
}

#contact-home {
  padding: 130px;
}

#contact-home h2 {
  padding-bottom: 30px;
}

/* Contact Page */
#contact-map  iframe{
  width: 100%;
  height: 30vh;
}

/* Portfolio Page */
.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portfolios .portfolio {
  margin-bottom: 20px;
}

/* Team page */
#team {
  background-color: #333;
  color: #fff;
  padding: 40px;
}

.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.members .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* About Page */
#mission {
  padding: 100px;
}

#objectivs {
  background-color: #333;
  padding: 80px;
  color: #fff;
}

#objectivs ol {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#objectivs ol li {
  padding: 10px;
  background-color: #fff;
  color: #333;
  margin: 10px;
  border-radius: 4px;
  transition: all .4s ease-in-out;
}

#objectivs ol li:hover {
  transform: scale(1.05);
  background-color: goldenrod;
  color: #fff;
}

#objectivs ol li.circle {
  border-radius: 50%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
}

.cards .card-box {
  background-color: goldenrod;
  margin: 10px;
  padding: 20px;
  color: #fff;
  transition: all .4s ease-in-out;
  border-radius: 4px;
}

.cards .card-box:hover {
  transform: scale(1.1);
}

.cards .card-box h3 {
  font-size: 20px;
}


footer {
  background-color: goldenrod;
  padding: 20px;
  color: #fff;
}

