<div id="contact-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.5506599846635!2d13.227954814777851!3d-8.828213293660326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a51f3ae4f5ac07b%3A0x46405a987c53317!2sR.%20Aires%20de%20Menezes%2C%20Luanda!5e0!3m2!1spt-PT!2sao!4v1595605479103!5m2!1spt-PT!2sao"
    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

<div id="contact-home" class="pt-30">
  <div class="container">
    <h2 class="text-left pl-3">Contactos</h2>
    <div class="columns">
      <div class="col">
        <form action="">
          <div>
            <label for="">Nome Completo</label>
            <input type="text" class="form-control">
          </div>
          <div>
            <label for="">Email</label>
            <input type="text" class="form-control">
          </div>
          <div>
            <label for="">Assunto</label>
            <input type="text" class="form-control">
          </div>
          <div>
            <label for="">Nº de Telefone</label>
            <input type="text" class="form-control">
          </div>
          <div>
            <label for="">Mensagem</label>
            <input type="text" class="form-control">
          </div>

          <div class="action">
            <button class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
      <div class="col">
        <span>
          <i class="far fa-calendar-alt"></i>
          Segunda a Sexta-Feira – das 07h30 as 15h30
        </span>
        <span>
          <i class="fas fa-map-marker"></i>
          (Sede) Rua Kwame Nkrumah n.o 3/5, Maianga, Luanda
        </span>
        <span>
          <i class="fas fa-building"></i>
          (Escritório) Rua Dr. Aires de Menezes, n.o 136, R/C, Maianga, Luanda- Angola
        </span>
        <span>
          <i class="fas fa-phone-alt"></i>
          (Call center) 222734178
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          E-mail: geral@agcc.co.ao
        </span>
      </div>
    </div>
  </div>
</div>