<div id="portfolio">
  <div class="container">
    <div class="box-center">
      <h2 class="text-center text-uppercase title-1">Portfolio</h2>
      <p class="text-center">
        AGCC CONSULTORIA LDA desenvolve o seu modelo de consultoria tendo como objectivo principal a melhoria dos
        processos
        de
        gestão, visando maior produtividade e competitividade para a empresa, prestando serviços nas seguintes áreas
      </p>
    </div>

    <div class="portfolios">
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
      </div>
      <div class="portfolio">
        <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
      </div>
      <div class="portfolio">
        <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
      </div>
      <div class="portfolio">
        <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
      </div>
      <div class="portfolio">
        <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
      </div>
      <div class="portfolio">
        <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
      </div>
      <div class="portfolio">
        <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
      </div>
      <div class="portfolio">
        <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
      </div>
    </div>
  </div>