<div id="portfolio">
  <div class="container">
    <div class="box-center">
      <h2 class="text-center text-uppercase title-1">Notícias</h2>
      <p class="text-center">
        AGCC CONSULTORIA LDA desenvolve o seu modelo de consultoria tendo como objectivo principal a melhoria dos
        processos
        de
        gestão, visando maior produtividade e competitividade para a empresa, prestando serviços nas seguintes áreas
      </p>
    </div>

    <div class="portfolios">
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="https://source.unsplash.com/user/erondu/350x200" alt="Avatar">
        </a>
        <span>Titulo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">
      </div>
    </div>
  </div>