<div id="areas-home">
  <div class="container">
    <h2>Nossos Serviços</h2>
    <p class="text-center">
      AGCC CONSULTORIA LDA desenvolve o seu modelo de consultoria tendo como objectivo principal a melhoria dos
      processos
      de
      gestão, visando maior produtividade e competitividade para a empresa, prestando serviços nas seguintes áreas
    </p>

    <div class="box-specs">
      <div class="box-spec">
        Serviços de Consultoria Jurídica empresarial
      </div>
      <div class="box-spec">
        Propriedade Intelectual
      </div>
      <div class="box-spec">
        Auditoria, Contabilidade e Gestão financeira
      </div>
      <div class="box-spec">
        Gestão de projectos
      </div>
      <div class="box-spec">
        Sociedades Comerciais
      </div>
      <div class="box-spec">
        Gestão de contratos
      </div>
      <div class="box-spec">
        Gestão de Recursos Humanos e Formação
      </div>
    </div>

    <div class="link-in">
      <a href="/portfolio">Conheça o nosso Porfolio &rarr;</a>
    </div>
  </div>
</div>