<div id="areas-home">
  <div class="container">
    <h2>Nossos Serviços</h2>
    <p class="text-center">
      {{office.service}}
    </p>

    <div class="portfolios">
      {{#each services}}
      <div class="portfolio">
        <a href="/areas-de-consultorias/{{this._id}}">
          <img src="assets/uploads/{{this.photo}}" width="350" height="200" alt="Avatar" />
        </a>
        <span style="font-weight: bold;font-size: 18px;">{{this.name}}</span>
        <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div>
      {{/each }}

    </div>


  </div>
</div>
</div>