<div id="portfolio">
  <div class="container">
    <div class="box-center">
      <h2 class="text-center text-uppercase title-1">{{service.name}}</h2>
      <div class="row flex-center">
        <div class="col-md-" style="">
          <img class="rounded-img rotate" src="assets/uploads/{{service.photo}}" alt=""
            style="width: 550px; height: 440px;float:left;margin-right:10px">

          <p class="">
            {{service.description}}
          </p>
        </div>
      </div>
    </div>
  </div>