<div id="areas-home">
  <div class="container">
    <h2>Nossos Serviços</h2>
    <p class="text-center">
      AGCC CONSULTORIA LDA desenvolve o seu modelo de consultoria tendo como objectivo principal a melhoria dos
      processos
      de
      gestão, visando maior produtividade e competitividade para a empresa, prestando serviços nas seguintes áreas
    </p>

    <div class="box-specs">
      <div class="box-spec">
        Assistência Jurídica Empresarial
      </div>
      <div class="box-spec">
        Registo de Direitos de Autor, Marcas e Patentes
      </div>
      <div class="box-spec">
        Estudos de Auditoria, Contabilidade e Gestão financeira
      </div>
      <div class="box-spec">
        Elaboração e Avaliação de Projectos
      </div>
      <div class="box-spec">
        Elaboração de Estatutos de Sociedades Comerciais, Fundações e Associações
      </div>
      <div class="box-spec">
        Elaboração de Contratos e Diplomas Legais
      </div>
      <div class="box-spec">
        Gestão e Cobrança de Dívidas por Contratos
      </div>
      <div class="box-spec">
        Estruturação e Formação de Recursos Humanos
      </div>
      <div class="box-spec">
        Recrutamento e Selecção de Candidatos a Emprego
      </div>
      <div class="box-spec">
        Elaboração de estudos de mercado
      </div>
      <div class="box-spec">
        Gestão de participações societárias
      </div>

    </div>
  </div>
</div>