<div id="areas-home">
  <div class="container">
    <h2>Nossos Serviços</h2>
    <p class="text-center">
      AGCC CONSULTORIA LDA desenvolve o seu modelo de consultoria tendo como objectivo principal a melhoria dos
      processos
      de
      gestão, visando maior produtividade e competitividade para a empresa, prestando serviços nas seguintes áreas
    </p>

    <div class="box-specs">
      <div class="box-spec">
        Assistência Jurídica Empresarial
      </div>
      <div class="box-spec">
        Sociedades Comerciais
      </div>
      <div class="box-spec">
        Propriedade Intelectual
      </div>
      <div class="box-spec">
        Assistência jurídica a fundações e associações
      </div>
      <div class="box-spec">
        Auditoria, Contabilidade e Gestão Financeira
      </div>
      <div class="box-spec">
        Contratos e Gestão de Projectos
      </div>
      <div class="box-spec">
        Recrutamento e selecção
      </div>
    </div>
  </div>
</div>