<div id="areas-home">
  <div class="container">
    <h2>Nossos Serviços</h2>
    <p class="text-center">
      AGCC CONSULTORIA LDA desenvolve o seu modelo de consultoria tendo como objectivo principal a melhoria dos
      processos
      de
      gestão, visando maior produtividade e competitividade para a empresa, prestando serviços nas seguintes áreas
    </p>

  
    <div class="portfolios">
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/assoJuri.png" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Assistência Jurídica Empresarial</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div>
 
      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/copyright.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Registo de Direitos de Autor, Marcas e Patentes</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/Auditoria.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Estudos de Auditoria, Contabilidade e Gestão financeira</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/elaboracaoProject.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Elaboração e Avaliação de Projectos</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/elaboracaoEstatuto.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Elaboração de Estatutos de Sociedades Comerciais, Fundações e Associações</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/contrato.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Elaboração de Contratos e Diplomas Legais</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/cobranca.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Gestão e Cobrança de Dívidas por Contratos</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/rh.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Estruturação e Formação de Recursos Humanos</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/recrutamento.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;">Recrutamento e Selecção de Candidatos a Emprego</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/estudoMerc.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;"> Elaboração de estudos de mercado</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      <div class="portfolio">
        <a href="https://source.unsplash.com/user/erondu/350x200">
          <img src="assets/images/Servicos/participacoes.jpg" width="350" height="200" alt="Avatar">
        </a>
        <span style="font-weight: bold;font-size: 18px;"> Gestão de participações societárias</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt aliquam quasi expedita? Eum enim
          placeat ipsum cupiditate ipsa sed?</p>
        <!--<a href="#" class="btn read-more">Leia mais...</a href="#">-->
      </div> 

      </div> 


    </div>
  </div>
</div>