<div class="container" style="padding: 50px 0;">

  <h2 class="text-center text-uppercase title-1">{{service.name}}</h2>
  <div class="row flex-center">
    <div class="col-md-12 col-sm-12 col-lg-6" style="">
      <img class="rounded-img rotate img-fluid" src="assets/uploads/{{service.photo}}" alt=""
        style="width: 550px; height: 440px;float:left;margin-right:10px">
    </div>
    <div class="col-md-12 col-sm-12 col-lg-6" style="">
      <p class="">
        {{service.description}}
      </p>
    </div>

  </div>
</div>