<div id="team">
  <div class="container">
    <div class="box-center">
      <h2 class="text-center text-uppercase title-1">Equipa de Trabalho</h2>
      <p class="text-center">
        AGCC CONSULTORIA LDA desenvolve o seu modelo de consultoria tendo como objectivo principal a melhoria dos
        processos
        de
        gestão, visando maior produtividade e competitividade para a empresa, prestando serviços nas seguintes áreas
      </p>
    </div>

    <div class="members">
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwpAogMoNtRXWclyp4-QNqW7fePTeDOcIlUg&usqp=CAU"
          alt="Avatar">
        <span>Rosimeiro Uliengue</span>
        <span><strong>Director Executivos</strong></span>
        <span>Licenciado em gestão de projectos</span>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwpAogMoNtRXWclyp4-QNqW7fePTeDOcIlUg&usqp=CAU"
          alt="Avatar">
        <span>Rosimeiro Uliengue</span>
        <span><strong>Director Executivos</strong></span>
        <span>Licenciado em gestão de projectos</span>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwpAogMoNtRXWclyp4-QNqW7fePTeDOcIlUg&usqp=CAU"
          alt="Avatar">
        <span>Rosimeiro Uliengue</span>
        <span><strong>Director Executivos</strong></span>
        <span>Licenciado em gestão de projectos</span>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwpAogMoNtRXWclyp4-QNqW7fePTeDOcIlUg&usqp=CAU"
          alt="Avatar">
        <span>Rosimeiro Uliengue</span>
        <span><strong>Director Executivos</strong></span>
        <span>Licenciado em gestão de projectos</span>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwpAogMoNtRXWclyp4-QNqW7fePTeDOcIlUg&usqp=CAU"
          alt="Avatar">
        <span>Rosimeiro Uliengue</span>
        <span><strong>Director Executivos</strong></span>
        <span>Licenciado em gestão de projectos</span>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwpAogMoNtRXWclyp4-QNqW7fePTeDOcIlUg&usqp=CAU"
          alt="Avatar">
        <span>Rosimeiro Uliengue</span>
        <span><strong>Director Executivos</strong></span>
        <span>Licenciado em gestão de projectos</span>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwpAogMoNtRXWclyp4-QNqW7fePTeDOcIlUg&usqp=CAU"
          alt="Avatar">
        <span>Rosimeiro Uliengue</span>
        <span><strong>Director Executivos</strong></span>
        <span>Licenciado em gestão de projectos</span>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwpAogMoNtRXWclyp4-QNqW7fePTeDOcIlUg&usqp=CAU"
          alt="Avatar">
        <span>Rosimeiro Uliengue</span>
        <span><strong>Director Executivos</strong></span>
        <span>Licenciado em gestão de projectos</span>
      </div>
    </div>
  </div>
</div>